<div id="slider-body">
  <div class="items">
       <img src="/img/images.jpg" id="http://dupela.com/about/" alt="Dupela offers Templates, Links, which aims to share information to new Website developer as myself, so let’s journey to HTML, CSS, and other study in web development such as AJAX and JQUERY; in developing website template from ground up and posting problem encountered, tips, tricks, and techniques on website programming such as PHP."  title="About Dupela" /> 

   </div>
   <div id="slider-info">
       <div class="info"> </div>
       <div class="sub">  </div>
       <div class="bottom"></div>
   </div>
</div>
