


  <div id="items">

    <img src="img/nasdaq_stock_market_new_york-HD.jpg" id="http://www.1.com" alt="Dupelam/archives/9#more-" title="The page is now live 1" />
    <img src="img/images.jpg" id="http://dupela.com/about/" alt="dasd " title="The page is now live 2 " />
    <img src="img/n4.jpg" id="http://dupela.com/about/" alt="This is the information" title="The page is now live 3 " />
    <img src="img/TemplateProject.fw_.png" id="http://dupela.com/about/" alt="This is adia that syon. This is the program for you. Cast Ramon Bautista ,
        Lourd De Veyra, Jun Sabayton, RA Rivera, Generoso Cupal, Bea Benedicto and Bart <a class='more-link' href='http://dupela.com/archives/114#more-114'>(more…)</a>" title="The page is now live 4" />



  </div>
